[submodule "Tests/testez"]
	path = Tests/testez
	url = https://github.com/Roblox/testez
[submodule "Tests/MockDataStoreService"]
	path = Tests/MockDataStoreService
	url = https://github.com/buildthomas/MockDataStoreService
